/* Text */

.title,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    font-family: "JetBrains Mono",monospace;
}

/* Buttons */
.primary-button {
    background-color: #FCFCFD;
    box-shadow: #2d2342 0 2px 4px, #D6D6E7 0 -3px 0 inset;
    font-size: 18px;
    height: 50px;
    border-radius: 4px;
    border-width: 0;
    padding-left: 16px;
    padding-right: 16px;
    transition: transform .10s;
}

.secondary-button {
    background-color: #FCFCFD;
    box-shadow: #2d2342 0 2px 4px, #D6D6E7 0 -3px 0 inset;
    font-size: 18px;
    height: 50px;
    border-radius: 4px;
    border-width: 0;
    padding-left: 16px;
    padding-right: 16px;
    transition: transform .10s;
}

.error-button {
    background-color: #FCFCFD;
    box-shadow: #2d2342 0 2px 4px, #D6D6E7 0 -3px 0 inset;
    font-size: 18px;
    height: 50px;
    border-radius: 4px;
    border-width: 0;
    padding-left: 16px;
    padding-right: 16px;
    transition: transform .10s;
}

.save-button {
    background-color: #FCFCFD;
    box-shadow: #2d2342 0 2px 4px, #D6D6E7 0 -3px 0 inset;
    font-size: 18px;
    height: 44px;
    border-radius: 4px;
    border-width: 0;
    padding-left: 16px;
    padding-right: 16px;
    transition: transform .10s;
}

.primary-button:hover {
    background-color: #e8e8f8;
    transform: translateY(-2px);
}

.primary-button:focus {
    background-color: #e8e8f8;
    transform: translateY(-2px);
}

.primary-button:active {
    transform: translateY(4px);
  }

.primary-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.secondary-button:hover {
    background-color: #e8e8f8;
    transform: translateY(-2px);
}

.secondary-button:focus {
    background-color: #e8e8f8;
    transform: translateY(-2px);
}

.secondary-button:active {
    transform: translateY(4px);
  }

.secondary-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.error-button:hover {
    background-color: #e8e8f8;
    transform: translateY(-2px);
}

.error-button:focus {
    background-color: #e8e8f8;
    transform: translateY(-2px);
}

.error-button:active {
    transform: translateY(4px);
  }

.error-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.save-button:hover {
    background-color: #e8e8f8;
    transform: translateY(-2px);
}

.save-button:focus {
    background-color: #e8e8f8;
    transform: translateY(-2px);
}

.save-button:active {
    transform: translateY(4px);
  }

.save-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

/* Links */

.primary-link {
    color: #0000F0;
}

.secondary-link {
    color: #0000F0;
}

.primary-link:visited {
    color: #2525b1;
}

.primary-link:focus {
    background:#e0e0f8;
}

.primary-link:hover {
    background:#e0e0f8;
}

.primary-link:disabled {
    cursor: not-allowed;
}

.secondary-link:visited {
    color: #2525b1;
}

.secondary-link:focus {
    background:#e0e0f8;
}

.secondary-link:hover {
    background:#e0e0f8;
}

.secondary-link:disabled {
    cursor: not-allowed;
}

/* Inputs */

.name-input{
    background-color: #FCFCFD;
    border-color: #826ead;
    font-size: 14px;
    height: 30px;
    border-radius: 8px;
    border-width: 5px;
    width: 50%;
    padding: 5px 10px;
    margin: 8px;
}

.comment-input{
    background-color: #FCFCFD;
    border-color: #826ead;
    font-size: 14px;
    height: 50px;
    border-radius: 8px;
    border-width: 5px;
    width: 50%;
    padding: 10px 10px;
    margin: 8px;
}

.name-input:hover{
    border-color: #555;
    border-width: 5px;
}

.name-input:focus{
    border-color: #555;
    border-width: 5px;
}

.name-input:disabled{
    cursor: not-allowed;
}

.comment-input:hover{
    border-color: #555;
    border-width: 5px;
}

.comment-input:focus{
    border-color: #555;
    border-width: 5px;
}

.comment-input:disabled{
    cursor: not-allowed;
}

.name-error-input{
    background-color: #FCFCFD;
    border-color: #ad6e6e;
    font-size: 14px;
    height: 30px;
    border-radius: 8px;
    border-width: 5px;
    width: 50%;
    padding: 5px 10px;
    margin: 8px;
}

.comment-error-input{
    background-color: #FCFCFD;
    border-color: #ad6e6e;
    font-size: 14px;
    height: 50px;
    border-radius: 8px;
    border-width: 5px;
    width: 50%;
    padding: 10px 10px;
    margin: 8px;
}

.name-error-input:hover{
    border-color: #9e5b5b;
    border-width: 5px;
}

.name-error-input:focus{
    border-color: #9e5b5b;
    border-width: 5px;
}

.name-error-input:disabled{
    cursor: not-allowed;
}

.comment-error-input:hover{
    border-color: #9e5b5b;
    border-width: 5px;
}

.comment-error-input:focus{
    border-color: #9e5b5b;
    border-width: 5px;
}

.comment-error-input:disabled{
    cursor: not-allowed;
}